.form {
    background-color: #5A6570;
    margin: 1em 10em;
    padding: 2em 2em;
    border-radius: 8px;
}

.firstRow {
    display: flex;
    /* flex-direction: row; */
    margin-bottom: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.firstRow input {
    flex-basis: 75%;
    padding: 0.5rem;
}

.firstRow button {
    flex-basis: 20%;
}

.secondRow {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.secondRow select {
    height: 30px;
}

.secondRow label {
    color: white;
    font-size: 0.8em;
}

.sort {
    flex-basis: 30%;
    margin-right: 4em;
}

.itemCount {
    display: flex;
    flex-direction: column;
}



/* .form input {
    
} */