.card {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #F5F5F5;
  height: 100%;
  overflow: hidden;
  transition: 0.2s;
}

.card:hover  {
  transform: scale(1.02);
  background: #F8EBCB;
  transition:0.2s;
}

.card img {
  max-width: 100%;
  width: 100%;
}

.info {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.info p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 0.8em;
}

.info h3 {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-basis: 50%;

}

.detailsButton {
  display: flex;
  flex-direction: row;
}

.detailsButton a {
  background-color: #efe8df;
  border-radius: 7px;
  padding: 0.5em;
}

.detailsButton a:hover {
  background-color: #F8EBCB;
}
